services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: events_api
    ports:
      - "8080:8080"
    env_file:
      - apps/api/.env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
