@import "tailwindcss";

:root {
  --background: oklch(20.5% 0 0);
  --foreground: #ededed;
  --font-tomorrow:
    "Tomorrow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@theme inline {
  --color-background: var(--color-neutral-800);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-tomorrow);
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
