# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*.local

# Build output
dist/
build/
.cache/
.tmp/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Docker
docker-data/
*.pid

# Local testing files
coverage/
